* {
  margin: 0;
  padding: 0;
}

/* background */
.login-background {
  position: relative;
}

.login-background .background-img {
  /*width: 135%;*/
  width: 2550px;
}

.black-transparent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

/* header */

.login-background .header-logo {
  position: absolute;
  top: 20px;
  left: 2.55%;
}

/* main */

#main .login-window {
  position: absolute;
  top: 101px;
  left: 38.2%;

  width: 500px;
  height: 732.8px;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 3px;
}

#main .login-window h4 {
  position: absolute;
  top: 68px;
  left: 75px;
  color: white;
  font-size: 35px;
}

#main .login-window .login-input {
  margin: 145px 75px;
  width: 66%;
  height: 250px;
  margin-bottom: 0px;
}

#main .login-window .login-input input {
  width: 100%;
  height: 32px;
  border-radius: 5px;

  border: none;
  outline: none;
  padding: 12px;
  margin-bottom: 40px;

  font-size: 17px;
  background-color: rgb(58, 58, 58);
  color: #fff;

  transition: border-bottom-color 0.3s; /* 트랜지션 추가 */
}

#main .login-window .login-input input[type="submit"] {
  background-color: rgb(223, 1, 1);

  width: 354px;
  height: 55px;
  margin-top: 25px;
  margin-bottom: 10px;
}

input::placeholder {
  color: transparent;
}

input:placeholder-shown + label[for="email-or-phoneNumber"] {
  color: #aaa;
  font-size: 13pt;

  position: absolute;
  top: 161px;
  left: 100px;
}

input:placeholder-shown + label[for="password"] {
  color: #aaa;
  font-size: 13pt;

  position: absolute;
  top: 256px;
  left: 100px;
}

input:focus + label[for="email-or-phoneNumber"],
label[for="email-or-phoneNumber"] {
  font-size: 9pt;
  pointer-events: none;
  position: absolute;
  left: 90px;
  top: 154px;

  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

input:focus + label[for="password"],
label[for="password"] {
  font-size: 9pt;
  pointer-events: none;
  position: absolute;
  left: 90px;
  top: 248px;

  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

#main .login-window .login-input input[type="text"]:focus,
#main .login-window .login-input input[type="text"]:not(:placeholder-shown) {
  outline: none;
  padding-top: 20px;
  padding-bottom: 0px;
}

#main .login-window .check-assistance {
  display: flex;
  width: 354px;
  margin-bottom: 0px;
}

#main .login-window .check_wrap {
  width: 200px;
}

#main .login-window .check_wrap input {
  width: 17px; /* 체크박스 너비 */
  height: 17px; /* 체크박스 높이 */
  accent-color: #858585;
  border-radius: 2px; /* 체크박스 모서리 둥글게 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

#main .login-window .check_wrap input + label {
  display: absolute;
  color: #aaa;
  font-size: 14px;
}

#main .login-window .login-input .check-assistance .assistance {
  display: absolute;
  width: 160px;
}

#main .login-window .login-input .check-assistance .assistance a {
  display: absolute;
  color: #aaa;
  text-decoration-line: none;
  font-size: 14px;

  position: relative;
  right: -20px;
}

#main .login-window .login-input .check-assistance .assistance a:hover {
  text-decoration-line: underline;
}

#main .login-window .content {
  margin: 20px;
}

#main .login-window .info {
  display: absolute;
  color: #808080;
  margin-top: 110px;
}

#main .login-window .info .isUser {
  display: flex;

  width: 340px;

  margin-left: 72px;
}

#main .login-window .info .isUser .one {
  font-size: 17px;
}

#main .login-window .info .isUser a {
  margin-left: 10px;
  text-decoration-line: none;
  color: white;
  font-size: 17px;

  position: relative;
  top: -3px;
}

#main .login-window .info .isUser a:hover {
  text-decoration-line: underline;
}

#main .login-window .info .two {
  width: 310px;
  margin-top: 13px;
  margin-left: 72px;
  font-size: 14px;
}

#main .login-window .info .detail-wrap {
  display: flex;
}

#main .login-window .info .detail-wrap .detailButton {
  background-color: transparent;
  color: rgb(79, 105, 255);
  border: 0px;

  position: relative;
  top: -18px;
  right: -235px;

  font-size: 14px;
}

#main .login-window .info .detail-wrap .detailButton:hover {
  text-decoration-line: underline;
}

#main .login-window #detailsContent {
  width: 320px;
  font-size: 14px;

  position: relative;
  top: -100px;
  right: -71px;
}

#main .login-window #detailsContent span {
  color: rgb(79, 105, 255);
}

/*이메일, 비번 조건 검사*/
.invalid {
  border-color: rgb(193, 17, 25);
}

#emailError {
  /*margin-top: 0.375rem;*/
  /*margin-top: -14px;*/
  width: 100%;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.53846;
  color: rgb(193, 17, 25);

  position: absolute;
  top: 205px;
  left: 80px;
}

#passwordError {
  /*margin-top: 0.375rem;*/
  /*margin-top: -14px;*/
  width: 100%;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.53846;
  color: rgb(193, 17, 25);

  position: absolute;
  top: 300px;
  left: 80px;
}

.footer-wrap {
  /*height: 345.6px;*/
  height: 500px;
  /*min-width: 190px;*/
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  opacity: 1;

  position: absolute;
  top: 948px;
  /*height: 33.1%;*/
  background-color: rgb(0, 0, 0, 0.7);
  color: #aaa;
}

.footer-wrap a {
  color: #aaa;
  position: relative;
}

.nf-footer {
  margin-left: 410px;
  margin-bottom: 0px;
  padding-top: 70px;
}

.nf-footer-top {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-top {
  display: inline;
  white-space: nowrap;
}

.footer-top-a {
  margin-left: 5px;
  /*text-decoration: none;*/
}

/*.footer-top-a:hover {
  text-decoration: underline;
}*/

.footer-link {
  width: 176px;
  height: 17px;
  font-size: 16px;
}

.nf-footer-link-container {
  display: flex;
  flex-wrap: wrap;
}

#first,
#second,
#third,
#fourth {
  justify-content: space-between;
}
#fifth,
#sixth {
  justify-content: flex-start;
}

.footer-link {
  list-style-type: none;
  /*width: calc(
    33.333% - 20px
  );*/ /* 각 요소의 너비를 33.333%로 설정, 좌우 여백을 줄여줌 */
  width: calc(25% - 20px);
  margin-bottom: 30px;
  /*font-size: 13px;*/
}

.footer-link a {
  /*text-decoration: none;*/
  display: inline-block;
  position: relative; /* hover 상태일 때 ::after 가상 요소의 위치를 설정하기 위해 relative로 설정 */
}

.footer-link a:hover {
  text-decoration: underline;
}

.language-picker {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120px;
  height: 38px;
  font-size: 16px;
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: rgb(0, 0, 0, 0.7);
  color: #767676;
}

.language-picker option {
  font-size: 14px;
  font-weight: lighter;
}

.language-picker option[value="korean"] {
  content: "한국어";
}

.language-picker option[value="english"] {
  content: "English";
}

.copy-text {
  font-size: 0.85em;
  line-height: 1em;

  margin-top: 20px;
}

.copy-text > div:not(:first-child) {
  margin-top: 4px;
}

.copy-text > div:first-child {
  margin-top: 20px;
}

@media (min-width: 300px) and (max-width: 600px) {
  #emailError {
    position: absolute;
    top: 160px;
    left: 50px;
  }

  #passwordError {
    position: absolute;
    top: 258px;
    left: 50px;
  }

  .login-background .background-img {
    height: 1000px;
  }

  .black-transparent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: black;
    border: 2px solid black;
  }

  #main .login-window {
    position: absolute;
    left: 0px;

    width: 100%;
    height: 1110px;
    background-color: black;
  }

  #main .login-window h4 {
    position: absolute;
    top: 20px;
    left: 40px;
    color: white;
    font-size: 35px;
  }

  #main .login-window .login-input {
    width: 83%;
    margin-bottom: 0px;
  }

  #main .login-window .login-input input {
    position: relative;
    top: -45px;
    left: -35px;
  }

  #main .login-window .login-input input[type="submit"] {
    width: 103.8%;
    height: 55px;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  input:placeholder-shown + label[for="email-or-phoneNumber"] {
    position: absolute;
    top: 116px;
    left: 65px;
  }

  input:placeholder-shown + label[for="password"] {
    position: absolute;
    top: 210px;
    left: 65px;
  }

  input:focus + label[for="email-or-phoneNumber"],
  label[for="email-or-phoneNumber"] {
    position: absolute;
    left: 60px;
    top: 107px;
  }

  input:focus + label[for="password"],
  label[for="password"] {
    position: absolute;
    left: 60px;
    top: 200px;
  }

  #main .login-window .check_wrap input {
    position: relative;
    top: 7px;
  }

  #main .login-window .check_wrap input + label {
    position: relative;
    top: 4px;
    left: -35px;
  }

  #main .login-window .check-assistance {
    position: relative;
    top: -50px;
    width: 100%;
  }

  #main .login-window .login-input .check-assistance .assistance a {
    position: absolute;
    top: 4px;
    right: 18px;
  }

  /**/
  #main .login-window .info .isUser {
    width: 340px;
    margin-left: 39px;

    position: relative;
    top: -80px;
  }

  #main .login-window .info .detail-wrap {
    height: 200px;
  }

  #main .login-window .info .detail-wrap .two {
    width: 90%;
    margin-top: -65px;
    margin-left: 39px;
    margin-right: 0px;
    font-size: 14px;
  }

  #main .login-window .info .detail-wrap .detailButton {
    margin-left: 0px;
    position: relative;
    top: 0px;
    left: 0px;
  }

  #main .login-window #detailsContent {
    width: 90%;
    font-size: 14px;

    position: relative;
    top: -320px;
    right: -36px;
  }
}

/*footer1*/
@media (min-width: 961px) and (max-width: 1252px) {
  .nf-footer {
    margin-left: 30px;
  }

  .nf-footer-top {
    padding-top: 0px;
    font-size: 15px;
  }

  .footer-link {
    font-size: 13px;
  }

  .footer-link {
    width: calc(27% - 20px);
  }

  .language-picker {
    width: 125px;
    height: 35px;
    font-size: 15px;
  }

  .copy-text {
    font-size: 0.8em;
  }
}

/*footer2 - 두줄 정렬*/
@media (min-width: 500px) and (max-width: 960px) {
  .footer-wrap {
    height: 480px;
    position: absolute;
    top: 955px;
  }

  .nf-footer {
    margin-left: 30px;
  }

  .nf-footer-top {
    padding-top: 0px;
    font-size: 15px;
  }

  /*.footer-link {
    width: 176px;
    height: 17px;
    font-size: 16px;
  }*/

  #first,
  #second,
  #third,
  #fourth,
  #fifth,
  #sixth {
    justify-content: space-between;
  }

  .footer-link {
    width: calc(50% - 20px);
    font-size: 13px;
  }

  .language-picker {
    width: 125px;
    height: 35px;
    font-size: 15px;
  }

  .copy-text {
    font-size: 0.8em;
  }
}

/*footer3 - main에 미디어쿼리 적용*/
@media (min-width: 500px) and (max-width: 600px) {
  .footer-wrap {
    height: 500px;
    position: absolute;
    top: 720px;
    border-top: 0.1rem solid #8b8b8b;
  }

  .nf-footer {
    padding-top: 35px;
  }
}
